.container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0px !important;
    line-height: 30px;
    color: #444;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    clear: none;
    position: relative;
}

img {
    border: 0;
    display: block;
    aspect-ratio: auto 96 / 96;
}

a {
    color: #0d42a2;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
}

.avatar {
    width: 20px !important;
    height: 20px !important;
    margin-right: 10px;
    border-radius: 50%;
    max-width: 100%;
}

.authorPhoto {
    vertical-align: middle;
}

.authorNameContainer {
    align-items: baseline;
}

.authorBy {
    margin-right: 3px;
    color: #aaaaaa;
    font-family: Muli !important;
    font-size: 11px !important;
    line-height: 1 !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
}

.authorName {
    color: #0d42a2;
    font-family: Muli !important;
    font-size: 11px !important;
    line-height: 1 !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
}
